body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}
#todo-list li.completed {
    text-decoration: line-through;
}
#todo-list li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;;
}
