* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}


.button-container {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.red {
    background-color: #e57373;
}

.green {
    background-color: #66bb6a;
}

.blue {
    background-color: #42a5f5;
}