ul {
    list-style-type: none;
}

ul li {
    display: none;
}

ul li:first-child {
display: list-item;
cursor: pointer;
}


/* ul {
    list-style-type: none;
}

ul li {
    display: none;
}

ul li:first-child {
    display: list-item;
    cursor: pointer;
} */