.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  border: 2px solid darkred;
  padding: 10px;
  border-radius: 10px;
}

.light,
.light * {
  background-color: #fff;
  color: #212121;
}

.dark,
.dark * {
  background-color: #212121;
  color: #fff;
}